* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    margin-bottom: -5px;
}

td {
    width: 28px;
    height: 28px;
    border: 1px solid black;
}

td.td-black {
    border: 1px solid white;
    background: #000;
}

td.td-white {
    background: #fff;
}

.main {
    width: 300px;
    height: 280px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border: 1px dotted black;
}