*{
	padding: 0px;
	margin: 0px;
}
@media(max-width: 320px){
	header{
		width: 310px;
	}
	footer{
		width: 310px;
	}
	aside{
		width:100px;
	}
}
@media(max-width: 375px){
	header{
		width: 300px;
	}
	footer{
		width: 300px;
	}
	aside{
		width:10px;
		float:left;
	}
}
@media(min-width: 400px){
	header{
		width: 310px;
	}
	footer{
		width: 310px;
	}
}
@media(min-width: 600px){
	header{
		width: 100%;
	}
	footer{
		width: 100%;
	}
}
header{
	height:80px;
	border:3px solid #F58110;
	margin-bottom: 30px;
}
aside{
	width: 300px;
	height: 266px;
	border:3px solid #6A95AE;
	float: left;	
}
footer{
	height:80px;
	border:3px solid #BC70E3;
	margin-top: 30px;
}
.wrapper{
	margin: 0px auto;
	width: 800px;
	min-width: 600px;
	position: relative;
	margin-top: 40px;
}
.content{
	width: 57%;
	height: 266px;
	border:3px solid #6A95AE;
	border-right: none;
	margin-left: 330px;
	margin-right:-20px;
	overflow: hidden;
}
.hrz{
	position:absolute;
}
.hrz.horizontal-one{
	top:107px;
	left:438px;
}
.hrz.horizontal-two{
	top:107px;
	left:565px;
}
.hrz.horizontal-three{
	top:107px;
	left:692px;
	padding-right: -20px;
	clip:rect(auto, auto, 13px, auto);
}
.hrz.horizontal-four{
	top:375px;
	left:438px;
}
.hrz.horizontal-five{
	top:375px;
	left:565px;
}
.hrz.horizontal-six{
	top:375px;
	left:692px;
	clip:rect(auto, auto, 13px, auto);
}
.sqr{
	position:absolute;
}
.sqr.sqr-one{
	top:107px;
	right:-5px;
}
.sqr.sqr-two{
	top:350px;
	right:-5px;
}
.vert{
	position:absolute;
}
.vert.vertical-one{
	top:157px;
	right:-26px;
}
.vert.vertical-two{
	top:284px;
	right:-26px;
	clip:rect(auto, auto, auto, 10px);
}
